* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0 25px;
}

button {
    outline: none;
    border: none;
    background: transparent;
    display: inline-block;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #262626;
}

img {
    max-width: 100%;
    display: block;
}

input {
    border: none;
    outline: none;
    background: transparent;
}

body {
    font-family: "Spartan";
}

.header-h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 8px 0 9px 0;
    background-color: #F3F3F3;
}

.header-h1 h1 {
    font-size: 12px;
    font-weight: 500;
    line-height: 13.44px;
}



.header-nav1 {
    padding: 40px 0 38px 0;
}

.header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-shop-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-image {
    max-width: 282px;
    width: 100%;
}

.header-shop-h1 {
    width: 238px;
    display: flex;
    justify-content: space-between;
}

.header-shop-h1 h1 {
    font-size: 14px;
    font-weight: 500;
    line-height: 15.68px;
}

.header-searchprofile {
    display: flex;
    width: 126px;
    justify-content: space-between;
    align-items: center;
}

.main-section1 {
    background-image: url(./images/caracterimage-withgreen.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 850px;
    margin-bottom: 152px;
}

.main-head1 {
    width: 430px;
    display: flex;
    flex-direction: column;
    padding-top: 272px;
    gap: 40px;
    color: white;
    justify-content: left;
    align-items: start;
}

.main-head1 h1 {
    width: 430px;
    font-size: 80px;
    font-weight: 500;
    line-height: 96px;
}

.main-head1 button {
    font-family: "Spartan";
    border: 1px solid white;
    color: white;
    padding: 18px 30px 14px 30px;
    font-size: 14px;
    font-weight: 700;
    line-height: 15.68px;
    transition: all 0.3s ease-in-out;
}
.main-head1 button:hover{
    background-color: white;
    color: black;
    border-radius: 5px;
}
.main1-section {
    margin-bottom: 130px;
}

.main1 {
    display: flex;
    flex-direction: column;
    gap: 110px;
}

.main1-head {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main1-head h4 {
    max-width: 780px;
    width: 100%;
    font-size: 28px;
    font-weight: 400;
    line-height: 36.4px;
    text-align: center;
}

.main1-center {
    display: flex;
    gap: 20px;
}

.main1-center-image2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main1-center-image3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main1-center-image1 {
    display: flex;
    flex-direction: column;
    padding-top: 432px;
    width: 380px;
    background-image: url(./images/character-withgreeen-purce.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main1-center-image1-h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 33.6px;
    text-align: center;
}

.main1-center-image1-button {
    font-family: "Spartan";
    margin: 32px auto 0 auto;
    width: 191px;
    color: white;
    border: 1px solid white;
    padding: 20px 30px 15px 30px;
    font-size: 12px;
    font-weight: 600;
    line-height: 13.44px;
    transition: all 0.3s ease-in-out;
}
.main1-center-image1-button:hover{
    background-color: white;
    color: black;
    border-radius: 5px;
}
.main1-center-image2-purse1 {
    width: 380px;
    height: 320px;
    background-image: url(./images/brown-purse.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main1-center-image2-purse2 {
    width: 380px;
    height: 320px;
    background-image: url(./images/grey-purse.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main1-center-image2-purse3 {
    width: 380px;
    height: 320px;
    background-image: url(./images/pink-purse.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main1-center-image2-purse4 {
    width: 380px;
    height: 320px;
    background-image: url(./images/lightgreeen-purse.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.image2-purse-h1 {
    transition: all ease-in-out 0.3s;
    padding-top: 146px;
    text-align: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
}
.image2-purse-h2{
    font-size: 12px;
    font-weight: 500;
    line-height: 13.44px;
    color: black;
}
.image2-purse-h2{
    display: none;
}
.main1-center-image2-purse4:hover .image2-purse-h1,
.main1-center-image2-purse3:hover .image2-purse-h1,
.main1-center-image2-purse2:hover .image2-purse-h1,
.main1-center-image2-purse1:hover .image2-purse-h1 {
    opacity: 1;
    background-color: #0000004D;
}




.main2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.main2-head h4 {
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
}

.main2-images {
    width: 100%;
    justify-content: space-between;
    display: flex;
}

.main2-images1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./images/light-grey.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 380px;
    height: 500px;
}

.main2-images2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./images/parrot-purse.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 380px;
    height: 500px;
}

.main2-images3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./images/whitepurse.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 380px;
    height: 500px;
}

.main2-images1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.images1-fonts {
    transition: all ease-in-out 0.3s;
    padding-top: 229px;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.images1-fonts-h1 {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    text-align: center;
}
.images1-fonts-h3{
    font-size: 12px;
    font-weight: 500;
    line-height: 13.44px;
    text-align: center;
}
.images1-fonts-h2 {
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    text-align: center;
}
.images1-fonts-h4 {
font-size: 10px;
font-weight: 600;
line-height: 12px;
    text-align: center;
}
.images1-fonts-h4{
    display: none;
}
.images1-fonts-h3{
    display: none;
}

.main2-images1:hover .images1-fonts,
.main2-images2:hover .images1-fonts,
.main2-images3:hover .images1-fonts {
    opacity: 1;
    background-color: #0000004D;
}

.main2-button {
    border: 1px solid black;
    padding: 20px 30px 15px 30px;
    width: 125px;
    font-size: 12px;
    font-weight: 600;
    line-height: 13.44px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}
.main2-button:hover{
    background-color: black;
    color: white;
    border-radius: 5px;
}

.main4-section {
    margin-bottom: 130px;
}

.main4 {
    display: flex;
    gap: 70px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main4-head1 {
    gap: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main1-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.main4-p {
    font-size: 12px;
    font-weight: 600;
    line-height: 14.4px;
}

.main4-head2-h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
}

.main4-head2 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.main5-sction {
    margin-bottom: 130px;
}

.main5-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 37px;
    justify-content: center;
}

.main5-heading {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

.main5-heading-font1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 33.6px;
}

.main5-heading-font2 {
    font-size: 13px;
    font-weight: 400;
    line-height: 16.9px;
}

.main5 {
    display: flex;
    flex-direction: column;
    gap: 37px;
}

.main5-main-images {
    display: flex;
    gap: 20px;
}

.main5-main-images1 {
    display: flex;
    gap: 20px;
    min-width: 280px;
    width: 100%;
    height: 280px;
    background-image: url(./images/last-whitepurse.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main5-main-images2 {
    display: flex;
    gap: 20px;
    min-width: 280px;
    width: 100%;
    height: 280px;
    background-image: url(./images/last-pinkpuse.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main5-main-images3 {
    gap: 20px;
    display: flex;
    min-width: 280px;
    width: 100%;
    height: 280px;
    background-image: url(./images/last-golden-brownpuse.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main5-main-images4 {
    gap: 20px;
    display: flex;
    min-width: 280px;
    width: 100%;
    height: 280px;
    background-image: url(./images/last-pure-brown.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main5-h4 {
    font-size: 13px;
    font-weight: 700;
    line-height: 15.6px;
    text-align: center;
}

.mian5-heart-head {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    transition: all ease-in-out 0.3s;
}

.mian5-heart-head:hover {
    background-color: #0000004D;
}

.main5-main-heart {
    transition: all ease-in-out 0.3s;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.main5-main-images1:hover .main5-main-heart,
.main5-main-images2:hover .main5-main-heart,
.main5-main-images3:hover .main5-main-heart,
.main5-main-images4:hover .main5-main-heart {
    opacity: 1;
}


.footer-section {
    margin-bottom: 100px;
}

.main-footer {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.main-footer1 {
    width: 100%;
    padding: 1px;
    background-color: #D8D8D8;
    border-radius: 5px;
}

.main-footer2 {
    width: 100%;
    justify-content: space-between;
    display: flex;
}

.main-footer2-sectio1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer2-sectio1-image2 {
    display: flex;
    gap: 10px;
}

.sectio1-images1 {
    padding: 12px;
    border: 1px solid #D8D8D8;
    border-radius: 50%;
}

.main-footer2-sectio2 {
    max-width: 179px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer2-sectio2-head h4 {
    color: black;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
}

.footer2-sectio2-head {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.footer2-sectio2-head p {
    font-size: 13px;
    font-weight: 400;
    line-height: 18.2px;
}

.main-footer2-sectio3 {
    max-width: 280px;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    gap: 30px;
}

.footer2-sectio3-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.for-input {
    height: 30px;
    border-bottom: 1px solid #D8D8D8;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.input-main1 {
    font-family: "Spartan";
    font-size: 13px;
    font-weight: 400;
    line-height: 18.2px;
    width: 100%;
    padding-top: 3px;
    color: #D8D8D8;
}

.for-input-fonts h4 {
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
}

.header-shop-h1 img {
    display: none;
}
.main3-section{
    margin: 130px 0;
}
.main3-section img{
    width:100%;
     height:850px;
}
.main3-section img{
    width: 100%;
    height: 900px;

}
.main-for-responsive-footer{
    display: flex;
    gap: 121px;

}
@media (max-width:1224px) {
    .main3-section img{
        width:100%;
         height:425px;
    }
    .main2-images{
        display: grid;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
        grid-template-columns: 1fr 1fr;
    }
    .main2-images1{
       margin: 0 auto;
    }
    .main2-images2{
        margin: 0 auto;
     }
     .main2-images3{
        margin: 0 auto;
     }
   .main1-center-image2-purse2{
  background-image: url(./images/pink-purse.svg);
   }
   .main1-center-image2-purse3{
    background-image: url(./images/grey-purse.svg);
   }
    .main1-center-image1{
        padding-bottom: 54px;
    }
    .header-image img{
        height: 20px;
    }
    .header-image{
      width: 120px;
    }
    .main1-center{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main1-center-image2,.main1-center-image3{
        flex-direction: row;
    }
}

@media (max-width: 833px) {
    .main2-images1:hover .images1-fonts,
.main2-images2:hover .images1-fonts,
.main2-images3:hover .images1-fonts {
    background-color: transparent;
}
    .footer-section{
        margin-bottom: 46px;
    }
  
    .main-for-responsive-footer{
        width: 100%;
        justify-content: space-between;
        gap: 10px;
    }
    .main-footer2-sectio1{
        padding-bottom: 30px;
    }
    .main-footer2-sectio3{
        max-width: 833px;
        width: 100%;
        padding-top: 40px;
    }
    
    .main-footer{
        gap: 20px;
    }
    .main-footer2{
        flex-direction: column;
    }
    .main-footer2-sectio1{
        flex-direction: row;
        align-items: center;
    }
    .main5-main-images{
        overflow: auto;
    }
    .main5-sction{
        margin-bottom: 70px;
    }
    .main5{
        gap: 40px;
    }
    .main5-heading{
        gap: 20px;
    }
    .main5-head{
        gap: 20px;
    }
    .main1-head{
gap: 30px;
    }
    .main4-head2 img{
        width: 280px;
        height: 360px;
    }
    .main4-head2{
        overflow: auto;
    }
    .main4-head1{
        gap: 80px;
    }
    .main4{
        gap: 40px;
    }
    .main3-section{
        margin:75px 0 ;
    }
    .images1-fonts-h4,.images1-fonts-h3{
     display: block;
     color: black;
    }
    .images1-fonts-h1,.images1-fonts-h2{
        display: none;
    }
    .main2-images{
        overflow: auto;
display: flex;
gap: 8px;
    }
    .main2-images1{
        width: 150px;
        height: 200px;
    }
    .main2-images2{
        width: 150px;
        height: 200px;
    }
    .main2-images3{
        width: 150px;
        height: 200px;
    }
    .main2{
        gap: 20px;
    }
    .main1-section{
        margin-bottom: 80px;
    }
    .image2-purse-h2{
        display: block;
    }
    .main1-for-fonts-responsive{
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    .main1-center-image1-h1{
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
        text-align: center;
    }
    .main1-center-image1{
       width: 322px;
    }
    .main1-center-image2-purse1{
        width: 158px;
        height: 158px;
    }
    .main1-center-image2-purse2{
        width: 158px;
        height: 158px;
    }
    .main1-center-image2-purse3{
        width: 158px;
        height: 158px;
    }
    .main1-center-image2-purse4{
        width: 158px;
        height: 158px;
    }
    .image2-purse-h1{
        display: none;
    }
    .main1{
        gap: 34px;
    }
    .main-section1{
        margin-bottom: 40px;
    }
    .header-nav1{
        padding: 18px 0;
    }
    .header-shop-h1 h1 {
        display: none;
    }

    .header-shop-h1 img {
        display: block;
    }
    .header-shop-h1 {
        width: 24px;
    }

    .searchprofile1 {
        display: none;
    }

    .header-searchprofile {
        justify-content: end;
        width: 19px;
    }

    .header-h1 h1 {
        font-size: 10px;
        font-weight: 500;
        line-height: 11.2px;
    }

    .main-section1 {
        height: 640px;
    }

    .main-head1 {
        width: 100%;
        padding-top: 200px;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .main-head1 h1 {
        width: 325px;
        font-size: 60px;
        font-weight: 500;
        line-height: 72px;
    }

    .main-head1 button {
        font-size: 14px;
        font-weight: 700;
        line-height: 15.68px;
    }
    .main1-head h4{
font-size: 18px;
font-weight: 400;
line-height: 23.4px;
    }
}
@media (max-width: 400px) {
    .main1-center-image2{
        gap: 10px;
    }
    .main1-center-image3{
        gap: 10px;
    }
}